<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="OutputFilesFolder" value="Files" />
    <add key="DataExtractionConfigFile" value="Configuration\DataExtractionConfig.xml" />
    <add key="ExcludedKeysConfigFile" value="Configuration\ExcludedKeys.xml" />
    <add key="PatcherPresetsConfigFile" value="Configuration\PatcherPresets.xml" />
    <add key="DefaultOutputFileName" value="output-file" />
    <add key="DefaultFileSearchPattern" value="*.dbr" />
    <add key="DbrRecordsSourcePath" value="D:\Dev\Titan Quest Workshop\AtlantisDB_2_9\records" />
    <!--<add key="DbrRecordsSourcePath" value="D:\Documents\My Games\Titan Quest - Immortal Throne\Working\CustomMaps\Old-TQ-IT\database\records" />-->
    <add key="DbrTemplatesDirectory" value="D:\Documents\My Games\Titan Quest - Immortal Throne\Working\Database\templates" />

    <!-- values: True / False -->
    <add key="ExtractTextResources" value="True" />
    <add key="TextResourcesOutputDirectory" value="\Resources\DecodedText" />    
    <add key="TextResourcesArcFile" value="\Resources\Text_EN.arc" />    
    <!--<add key="TextResourcesArcFile" value="C:\\Games\\SteamLibrary\\steamapps\\common\\Titan Quest Anniversary Edition\\Text\\Text_EN.arc" />-->
    
    <!-- Messages -->
    <add key="Messages.FileNameEmpty" value="Cannot Read All Lines of an empty file name string." />
    <add key="Messages.FileItemsFound" value="Found: {0} directories and {1} Files." />
    <add key="Messages.GenerationSuccess" value="Csv generated successfully." />
    <add key="Messages.DirectorySetSuccess" value="Directory Set Successfully." />
  </appSettings>
</configuration>